.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{ color: white;}
h1{color: blue;}
p{ color: orange;
   font-size: 20px;
 }
a{text-decoration: none;}
a{color: red; text-decoration: none;}
section{color: white; text-align: center;text-decoration: none;}

