header {
  background-color: var(--very-light-gray);
}

nav {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
}

.nav-link {
  text-transform: uppercase;
  font-size: var(--fs-16);
  cursor: pointer;
  color: var(--dark-grayish-violet);
  font-weight: 700;
}

.nav-link:hover {
  color: var(--vary-dark-violet);
  transition: color 0.3s;
}

.nav-link button {
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  border: 2px solid var(--vary-dark-violet);
  font-weight: 700;
  cursor: pointer;
}

.nav-link button:hover {
  background-color: var(--vary-dark-violet, hsl(270, 9%, 17%));
  color: var(--very-light-gray, hsl(0, 0%, 98%));
}

.menu-btn {
  display: none;
}

.landing {
  background-color: var(--dark-violet);
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.intro-right {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 101;
}

.intro-left {
  position: absolute;
  bottom: -50%;
  left: 0;
}

.landing-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  gap: 10rem;
  margin: auto auto;
}

.landing-container .title {
  font-family: var(--header-font);
  font-size: 3.7rem;
  line-height: 50px;
  color: var(--very-light-gray);
}

.landing-container .title::before {
  content: "";
  display: block;
  width: 150px;
  height: 2px;
  margin-bottom: 3rem;
  background-color: var(--very-light-gray);
}

.landing-container .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.landing-container .info {
  color: var(--very-light-gray);
}

.landing-container .plan-btn {
  padding: 0.8rem 2rem;
  text-transform: uppercase;
  border: 1px solid var(--very-light-gray);
  color: var(--very-light-gray);
  background-color: transparent;
  cursor: pointer;
  font-weight: 1;
}

.plan-btn:hover {
  transition: all .3s;
  color: var(--vary-dark-violet);
  background-color: var(--very-light-gray);
}

.landing-container .landing-img {
  position: relative;
  bottom: -7rem;
  left: 0;
  width: 100%;
}

.landing-img img {
  position: absolute;
  bottom: -20rem;
  right: 0;
  width: 100%;
}

.mb {
  display: none;
}

.how-section {
  margin: 13rem 0;
}

.how-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.how-container .title {
  font-family: var(--header-font);
  font-size: 3.7rem;
}

.how-container .title::before {
  content: "";
  margin-bottom: 2rem;
  width: 150px;
  height: 2px;
  display: block;
  background-color: var(--dark-grayish-violet)  ;
}

.row {
  display: flex;
  gap: 2px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.card-content .card-title {
  font-family: var(--header-font);
  font-size: 1.5rem;
}

.card-content .card-info {
  line-height: 1.5rem;
  color: var(--dark-grayish-violet);
}

.work-section {
  margin: 10rem 0;
}

.work-container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--dark-violet);
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(../images/images_desktop/bg-pattern-how-we-work-desktop.svg);
  background-repeat: no-repeat;
  background-position: top right;
}

.work-container h1 {
  font-family: var(--header-font);
  font-size: 3.7rem;
  color: var(--very-light-gray);
}

.work-container button {
  padding: .8rem 2rem;
  text-transform: uppercase;
  border: 1px solid var(--very-light-gray);
  color: var(--very-light-gray);
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  z-index: 101;
}

.work-container button:hover {
  transition: all .3s;
  color: var(--vary-dark-violet);
  background-color: var(--very-light-gray);
}

footer {
  background-color: var(--very-light-gray);
  background-image: url("../images/images_desktop/bg-pattern-footer-desktop.svg");
  background-repeat: no-repeat;
  background-position: top left;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials div {
  display: flex;
  gap: 1rem;
}

.socials img {
  cursor: pointer;
}

.socials div img:hover {
  filter: brightness(0);
}

.links {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  gap: .7rem;
  text-transform: uppercase;
}

.column .column-title {
  margin-bottom: 1rem;
  color: var(--dark-grayish-violet);
}

.column p {
  font-weight: 700;
  cursor: pointer;
}

.column p:hover {
  text-decoration: underline;
}
