@media screen and (max-width: 1200px) {
  .nav-container {
    padding-inline: 1rem;
  }

  .landing-container {
    padding-inline: 2rem;
  }

  .landing-container .landing-img {
    position: inherit;
  }

  .landing-img img {
    position: inherit;
  }
}

@media screen and (max-width: 600px) {
  .ds {
    display: none;
  }

  .nav-links {
    position: absolute;
    transform: translateX(-1000px);
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--very-dark-violet);
    background-image: url(../images/images_mobile/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    padding: 4rem 0 0 0;
    gap: 3rem;
    z-index: 102;
  }

  .active {
    transform: translateX(0);
    transition: transform .3s;
  }

  .nav-link {
    color: var(--very-light-gray);
    font-size: 1.5rem;
  }

  .nav-link:hover {
    color: var(--very-light-gray);
  }

  .nav-link button {
    color: var(--very-light-gray);
    border-color: var(--very-light-gray);
    font-size: 1.3rem;
    padding: 1rem 6rem;
  }

  .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .landing {
    height: auto;
  }

  .landing-container {
    flex-direction: column-reverse;
    padding-inline: 0;
    gap: 2rem;
  }

  .landing-img img {
    width: 100%;
  }

  .landing-container .content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5rem 1rem;
    position: relative;
  }

  .container-left {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  .container-right {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .landing-container .title {
    text-align: center;
    font-size: 3rem;
  }

  .landing-container .title::before {
    display: none;
  }

  .how-container {
    padding-inline: 2rem;
    align-items: center;
    justify-content: center;
  }

  .how-container .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.8rem;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .card {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .work-container {
    margin-inline: 2rem;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    background-image: url(../images/images_mobile/bg-pattern-how-we-work-mobile.svg);
  }

  .work-container h1 {
    font-size: 2rem;
  }

  footer {
    background-image: url(../images/images_mobile/bg-pattern-footer-mobile.svg);
  }

  .socials {
    flex-direction: column;
    gap: 2rem;
    padding-inline: 2rem;
  }

  .links {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
  }
}